<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% include "bootstrap.html" %}
  {% load crispy_forms_tags %}
  {% load static %}
  <script src="{%static 'JS/common.js' %}"></script>
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
  <title>{{ object.title }} by {{ object.user }}</title>
</head>
<body>
  {% include "navbar.html" %}
  {% if object.private_status == True and not user.is_authenticated %}
  <div class="container">
    <div class="jumbotron mt-5 bg-dark">
      <h3>You must be logged in to view this post.</h3>
      <p>Please <a href="/login">login</a> or <a href="/signup">create an account</a> to continue.</p>
    </div>
  </div>
  {% else %}
  <div class="container mt-5">
    <img src="{{ object.image.url }}" alt="{{ object.title }}" class="center">
  </div>
  <div class="jumbotron post-jumbo mt-5 ml-5 mr-5 bg-dark">
    <div class="container title-container col-12">
      <h3>{{ object.title }}</h3>
      <p>By <b>{{ object.user }}</b>, posted <b>{{ object.timestamp }}</b></p>
    </div>
    <div class="container description-container pt-4">
      <p>{{ object.description }}</p>
      <p class="pt-4"><b>Tags: </b>
      {% for tag in object.tags.all %}
      {{ tag }}
      {% endfor %}
      </p>
      {% if object.user == request.user %}
      <div class="mt-4">
        <a class="btn btn-outline-info col-1 btn-sm" href="/posts/{{ object.id }}/edit/">Edit Post</a>
        <a class="btn btn-outline-danger ml-2 btn-sm" href="#" onclick="confirmDeletePost({{ object.id }})">Delete Post</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% if user.is_authenticated %}
  <div class="container col-6 pb-5">
    <form action="{% url 'post_detailed' pk=object.id %}" method="POST"> {% csrf_token %}
      {{ comment_form|crispy }}
      <input type="submit" class="btn btn-info" value="Post Comment"/>
    </form>
  </div>
  {% endif %}
  <div class="container ml-5">
    <ul>
      {% for comment in object.comment_set.all %}
      <li>
        <div class="jumbotron bg-dark comment-jumbo">
          <b>{{ comment.user }}</b><br>
          <small>{{ comment.timestamp }}</small><br><br>
          <p>{{ comment.text }}</p>
          {% if comment.user == request.user %}
          <p>
            <a href="#cmt{{ comment.id }}" onclick="confirmDeleteComment({{ object.id }}, {{ comment.id }})">Delete</a> |
          </p>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <!--Modals-->
  <div id="deletePostModal" class="modal fade" role='dialog'>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-dark">
        <div class="modal-header">
          <h4 class="modal-title text-left-align">Delete Comment</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><p class="modal-x-light">×</p></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this comment?</p>
        </div>
        <form method="POST" action="/posts/{{ object.id }}/delete/">{% csrf_token %}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <span id='deleteButton'></span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="deleteCommentModal" class="modal fade" role='dialog'>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-dark">
        <div class="modal-header">
          <h4 class="modal-title text-left-align">Delete Comment</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><p class="modal-x-light">×</p></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this comment?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <span id='deleteButtonCom'></span>
        </div>
      </div>
    </div>
  </div>

</body>
<html>
