<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% include "bootstrap.html" %}
  {% load crispy_forms_tags %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
  <title>{{ object.title }} by {{ object.user }}</title>
</head>
<body>
  {% include "navbar.html" %}
  {% if object.private_status == True and not user.is_authenticated %}
  <div class="container">
    <div class="jumbotron mt-5 bg-dark">
      <h3>You must be logged in to view this post.</h3>
      <p>Please <a href="/login">login</a> or <a href="/signup">create an account</a> to continue.</p>
    </div>
  </div>
  {% else %}
  <div class="container mt-5">
    <img src="{{ object.image.url }}" alt="{{ object.title }}" class="center">
  </div>
  <div class="jumbotron post-jumbo mt-5 ml-5 mr-5 bg-dark">
    <div class="container title-container col-12">
      <h3>{{ object.title }}</h3>
      <p>By <b>{{ object.user }}</b>, posted <b>{{ object.timestamp }}</b></p>
    </div>
    <div class="container description-container pt-4">
      <p>{{ object.description }}</p>
      <p class="pt-4"><b>Tags: </b>
      {% for tag in object.tags.all %}
      {{ tag }}
      {% endfor %}
      </p>
      {% if object.user == request.user %}
      <div class="container" id="edit-delete-container">
        <a class="btn btn-info col-1" href="/posts/{{ object.id }}/edit/">Edit</a>
        <a class="btn btn-danger ml-2 col-1" href="#" onclick="confirmDeleteModal({{ row.id }})">Delete</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% if user.is_authenticated %}
  <div class="container col-6 pb-5">
    <form action="{% url 'post_detailed' pk=object.id %}" method="POST"> {% csrf_token %}
      {{ comment_form|crispy }}
      <input type="submit" class="btn btn-info" value="Post Comment"/>
    </form>
  </div>

  {% endif %}
  <div class="container ml-5">
    <ul>
      {% for comment in object.comment_set.all %}
      <li>
        <div class="jumbotron bg-dark col-8 comment-jumbo">
          <b>{{ comment.user }}</b><br>
          <small>{{ comment.timestamp }}</small><br><br>
          <p>{{ comment.text }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</body>
<html>
