<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% include "bootstrap.html" %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
  <title>Login</title>
</head>
<body>
  {% include "navbar.html" %}
  <div class="container">
    <div class="jumbotron mt-5 bg-dark">
      <h2 class="pb-4">Login</h2>
      <form action="/login/" method="POST"> {% csrf_token %}
        <table>
          {{ login_form.as_table }}
        </table>
        <input type="submit" class="btn btn-info mt-4 mb-3" value="Login"/>
        <p>Click <a href="/signup">here</a> to register.</p>
      </form>
    </div>
  </div>
</body>
</html>
